[2017-01-23 13:51] IUdalov opened #9 "Lua api for shared tables"
Library needs an API to work with SharedTables.
- Implement pairs/ipairs functions. -- done
- Analogue of setmetatable.
- `effil.table.dumpkeys()`

[2017-02-11 12:11] mihacooper opened #19 "Check possibilities to use Lua 5.1 and 5.3"
- Check possibilities
 - Modify code in case of need
 - Extend Travis config for supported Lua versions

[2017-02-11 12:13] mihacooper opened #20 "Add Lua API for GC"
Analize and provide Lua API for internal GC (use Lua's GC API as an example)

[2017-02-11 12:15] mihacooper opened #21 "Add spin-mutex Lua API"
- Standalone mutex API
 - Explicit locks for SharedTable (and internal recursive spin-mutex)

[2017-02-11 12:20] mihacooper opened #22 "Userdata types identification"
* Search for opportunities to determine type of Lua userdata
* Modify StoredObject's userdata handling principles based on research results

[2017-03-16 21:45] IUdalov commented on #20
I suppose this api will be enough:
[code]
What do you think @mihacooper?

[2017-03-16 22:42] IUdalov opened #29 "Fix&Simplify threads implementation"
1. Get rid of active waiting in ` LuaThread::wait` and `luaHook`. Use conditional variable or mutex instead.
2. Get rid from detach. Use implicit detach.
3. A-B-A problem. Cancel then resume is may be ok (!!!).
4. May be get rid of `ThreadFactory`. Now logic is quite complicated 😟.  `ThreadFactory` just captures this state variable and provide some configuration. Why not to hide it in `LuaThread`?

[2017-03-17 06:17] mihacooper commented on #20
Agree. Maybe not "stop" but "pause". That's more clear IMHO

[2017-03-25 15:18] mihacooper commented on #21
We had decided don't implement it

[2017-03-25 15:18] #21 closed, assigned to nobody

[2017-03-30 13:13] IUdalov opened #33 "Cache string.dump and loadstring invokation"
Each time when `function` is converted to `StoredObject` and when it's converted back we call `string.dump` and `loadstring`. We think that it can be optimized by cache. This cache should be individual for each state/thread.

[2017-04-05 16:57] mihacooper commented on #29
Problem solved

[2017-04-05 16:57] #29 closed, assigned to IUdalov, mihacooper

[2017-04-11 21:54] IUdalov opened #38 "Add explicit cancellation point"

[2017-04-11 21:55] IUdalov opened #39 "Cancel at get/wait and sleep."
Add cancellation point to `thread:get`, `thread:wait` and `effil.sleep` methods like it's implemented in `effil.yield` method.

[2017-04-15 21:34] #9 closed, assigned to mihacooper

[2017-04-16 11:10] IUdalov commented on #20
Fixed

[2017-04-16 11:10] #20 closed, assigned to IUdalov

[2017-06-10 10:29] mihacooper commented on #22
Done

[2017-06-10 10:30] #22 closed, assigned to mihacooper

[2017-06-10 10:35] IUdalov opened #47 "Compile and test on windows"
Should work with VS2105.

[2017-06-10 10:38] mihacooper commented on #38
Cancellation point only in yield for the milestone v1.0.0

[2017-06-10 10:52] IUdalov opened #48 "Make .rockspec"

[2017-06-10 11:22] mihacooper commented on #38
Now it's yield function

[2017-06-10 11:22] #38 closed, assigned to nobody

[2017-06-11 14:14] IUdalov commented on #33
Can we close this issue?

[2017-06-28 19:24] mihacooper commented on #19
done

[2017-06-28 19:24] #19 closed, assigned to mihacooper

[2017-08-09 08:54] mihacooper opened #59 "Race condition between GCObject creation and GC garbage collecting"
For example:
**stored-object.cpp:**
[code]
When we go out of scope of this function the `table` which currently is the only one hard link to the new GCObject will be destroyed and GC may collect this object before we start use it.

[2017-08-22 20:06] mihacooper opened #63 "Hanging on pause on completed thread"

[2017-08-22 20:09] mihacooper opened #64 "Complete documentation for v1.0"

[2017-09-11 12:40] mihacooper commented on #63
done

[2017-09-11 12:40] #63 closed, assigned to mihacooper

[2017-09-11 12:40] mihacooper commented on #59
done

[2017-09-11 12:40] #59 closed, assigned to mihacooper

[2017-09-29 09:42] #64 closed, assigned to mihacooper

[2017-09-29 09:42] mihacooper commented on #48
Done

[2017-09-29 09:42] #48 closed, assigned to nobody

[2017-09-29 09:43] mihacooper commented on #47
Done, but manually only

[2017-09-29 09:43] #47 closed, assigned to nobody

[2017-09-30 02:16] stuta opened #76 "speed test"
how many messages per second? 500? 5000? 50000? 500000?

[2017-09-30 09:55] mihacooper commented on #76
Hello, @stuta! It's very unclear issue. Can you provide more detailed description?

[2017-09-30 10:52] IUdalov opened #77 "Threads priority"
It would be nice if effil will allow to set priority for new thread.
It looks not so complicated to implement.

[2017-09-30 11:01] mihacooper commented on #77
There is no cross-platform solution for that, it requires platform-specific code

[2017-09-30 11:04] IUdalov opened #78 "Set cancellation debug hook asynchronously"
`lua_sethook` looks async safe.
So all threads can be spawned without overhead.
We'd only need a lock to make sure that the state is not lua_close'd.

[2017-10-02 20:30] mihacooper commented on #76
@stuta, sorry but I have to close this issue as **invalid**. If you will be able to provide complete description we can reopen it.

[2017-10-02 20:30] #76 closed, assigned to nobody

[2017-10-02 20:41] mihacooper commented on #78
The idea of this task is do not set hook when thread starts but do it only when the first invocation of `thread:pause` or `thread:cancel` occurs

[2017-10-02 20:47] mihacooper opened #79 "Upvalues support"
Implement `upvalues` support for all functions used in Effil. If `upvalue` is Effil's `Stored object` then we just copy it.
**HELP**: what to do with regular table: serialize or ignore? If we will just serialize it it can be a problem if some upvalue is `_G` table.

[2017-10-02 21:23] mihacooper opened #80 "CI on Windows"
Implement **continuous integration** for Windows platform, e.g. **Appveyor**

[2017-10-02 21:37] mihacooper opened #81 "Get rid of "gc.get" method usage"
Do not save `GCObjects` in `StoredObjects` by handle (or only by handle) store a raw pointer as well, so `gc.get` will no be needed

[2017-10-04 21:46] mihacooper opened #82 "Save stacktrace for failed thread"

[2017-10-05 14:16] mihacooper opened #83 "Rewrite documentation to GitHub Wiki"

[2017-10-06 02:42] aoyawale commented on #83
please create the github wiki so it can be git cloned and worked on.

[2017-10-06 05:37] mihacooper commented on #83
@jlozadad , done!

[2017-10-06 15:06] mihacooper commented on #80
Building for Windows with AppVeyor done, now we need to run tests

[2017-10-06 20:45] aoyawale commented on #83
need to change the permissions on it :P https://help.github.com/articles/changing-access-permissions-for-wikis/ can't push to it.

[2017-10-06 20:49] mihacooper commented on #83
@jlozadad , okay let's try)

[2017-10-06 20:55] aoyawale commented on #83
still can't push
`
git push
remote: Invalid username or password.
fatal: Authentication failed for 'https://github.com/effil/effil.wiki.git/'
`

[2017-10-06 21:00] mihacooper commented on #83
@jlozadad i did me best)) that's strange. Maybe you need to way for sometime...

[2017-10-06 21:12] mihacooper commented on #83
Oh, maybe you need to

[2017-10-06 21:16] mihacooper commented on #83
Github's wiki edit permissions pretty strange. Maybe it's better to use readthedocs.

[2017-10-06 21:20] aoyawale commented on #83
that works for me.

[2017-10-06 21:23] mihacooper commented on #83
@jlozadad , wiki starts work?

[2017-10-06 21:25] aoyawale commented on #83
looks like I can edit the github wiki through the UI but, can't git push.

[2017-10-06 21:31] mihacooper commented on #83
It's not cool that we are not able to manage Wiki changes. We don't get an updates and here is no review

[2017-10-06 21:33] aoyawale commented on #83
that is correct.

[2017-10-06 21:36] mihacooper commented on #83
So, check out [readthedocs](https://readthedocs.org) they solve this problem

[2017-10-10 09:17] #80 closed, assigned to nobody

[2017-10-10 09:18] mihacooper opened #90 "Extend CI to support LuaJIT2.1"
We need to extend travis CI config and adapt tests/Effil to work with LuaJIT2.1

[2017-10-10 09:42] mihacooper commented on #83
@jlozadad, due to Github Wiki is not very good solution for documentation I will close this issue and deactivate our Wiki.

[2017-10-10 09:42] #83 closed, assigned to nobody

[2017-10-14 02:24] luizcavalcanti opened #92 "Submodule instruction is missing from readme"
I spent some time trying to find sol library as a dynlib on mac before realizing it is actually referenced as a submodule on this repo.

I propose to put a `git submodule update --init` instruction on README.md  a submodule made the submodule step explicit in the README so new people can have a easier time.

(I actually already have a pull request ready, just following CONTRIBUTING.md, and waiting

[2017-10-14 09:27] mihacooper commented on #92
That's a good suggestion, but it's better to use `git clone --recursive`

[2017-10-14 11:14] luizcavalcanti commented on #92
I personally like it less, but I'm fine as long as instrucions work if followed thoroughly :)

[2017-10-14 11:30] #92 closed, assigned to nobody

[2017-10-21 08:07] #79 closed, assigned to mihacooper

[2017-10-21 15:54] mihacooper commented on #81
Research shows us that it's not possible to get rid of `gc.get`

[2017-10-21 15:54] #81 closed, assigned to IUdalov

[2017-11-01 20:14] #82 closed, assigned to mihacooper

[2017-12-01 09:39] mihacooper opened #97 "Documentation for "Upvalues" feature"
Cover new functionality - function upvalues support

[2017-12-01 10:12] mihacooper opened #98 "Thread pool implementation"
We want to create a thread pool over out threads and channels. To do that we should perform research for proper implementation and API design.

[2018-04-19 17:36] fogfx opened #101 "Function to retrieve number of hardware threads"
Or at least some estimate.

[2018-04-19 18:50] mihacooper commented on #101
Thakns for proposal!
We can add wrapper for [std::thread::hardware_concurrency](http://ru.cppreference.com/w/cpp/thread/thread/hardware_concurrency)

[2018-05-09 20:17] Amir-Arsalan opened #102 "Where are effil.lua, libeffil.so/libeffil.dylib?"
I am building a large Singularity container and it takes hours to make it. Before I install effil I would like to know where are the files effil.lua, libeffil.so/libeffil.dylib so that I can put a command in my script to copy those files into another location so that I can access them once the container is built. Would you please tell me where those files are once I compile effil so that I won't h

[2018-05-09 20:29] Amir-Arsalan opened #103 "Compilation error"
I cannot compile effil. I get lots of errors related to `sol` library. Am I doing something wrong?

[code]

[2018-05-09 20:48] Amir-Arsalan commented on #103
It also fails when trying to do it via `luarocks`. Here's what I get:

[code]

[2018-05-09 21:28] Amir-Arsalan commented on #103
It turns out my g++ version was pretty old and I updated it. Then I did `cmake .. -DCMAKE_CXX_COMPILER=$(which g++)` and it got compiled. However, I could not compile it using `luarocks`

[2018-05-09 21:28] #103 closed, assigned to nobody

[2018-05-10 18:49] IUdalov commented on #102
Hi Amir!
Yep, it's simply `cp`.
You can find them at `effil/src/lua/effil.lua` and `<path-to-you-cmakebuild>/libeffil.so` for Linux hosts.
`libeffil.dylib` is `libeffil.so` replacement for MacOS X hosts.
You have to use either `libeffil.so` on Linux or `libeffil.dylib` on Mac.
Good luck with your project.

[2018-05-10 18:50] #102 closed, assigned to nobody

[2018-05-15 22:00] IUdalov opened #106 "Switch CI to new Xcode 10.x"

[2018-10-10 17:42] #106 closed, assigned to IUdalov

[2018-10-17 09:54] #101 closed, assigned to IUdalov

[2018-10-29 23:15] IUdalov opened #116 "Make channels iteration easier"
It would be nice if I can write code like this:
[code]

[2018-10-30 08:11] mihacooper commented on #116
It can be implemented like that:
[code]
Do we really need it in out API?

[2018-11-06 06:51] webandbusiness opened #117 "build concurrency TCP/IP/HTTP server"
Hello, this is just a question, not issue.
I find effil so powerfull, i am using openresty server (nginx+lua scripting) with high concurency capacity,
Do you thing luajit, and effil can build high concurency server, with spawn threads as requests processing base.
Regards

[2018-11-07 12:44] IUdalov commented on #117
I think Effil + LuaJIT can give great performance.
But it is not easy to win against nginx.
nginx works as follows:
1. It creates master process and listens sockets.
2. Spawns  workers by forks. Now socket is present in multiple procceses. Only one of them will get incoming connection. Each worker has single thread.
3. By default nginx reuses Lua state in each worker.

This approach very efficient

[2018-11-15 20:53] IUdalov commented on #117
@webandbusiness I am closing issue for now. Let's keep in touch.

[2018-11-15 20:53] #117 closed, assigned to nobody

[2018-11-21 12:49] tversteeg opened #121 "Installation instructions seem to be outdated"
In README.md it's mentioned that you have to do the following to use Effil:

This doesn't seem correct since CMake only creates 1 DLL (at least on Windows).

[2018-11-22 08:24] mihacooper commented on #121
Thanks for notice, we will fix it soon.

[2018-11-24 22:12] #121 closed, assigned to mihacooper

[2019-07-22 14:15] egor230 opened #124 "как встроить новый поток в код с++, чтобы функция foo запускалась в новом потоке?"
Очень восхищен Вашей библиотекой многопоточности Effil в lua. Возник вопрос: как встроить новый поток в код с++, чтобы функция foo запускалась в новом потоке? Очень хочу разобраться в механизме. Буду очень рад Вашему ответу. Спасибо.
`
#include<iostream>
#include<lua.hpp>
#include<threading.h>
using namespace std;
using namespace sol;
using namespace effil;

const char* LUA =
R"(
foo()
)";
int foo

[2019-07-23 10:36] mihacooper commented on #124
Спасибо за отзыв.

К сожалению, C++ API Effil'а на данный момент не подготовлен и не задокументирован. Поэтому я бы не рекомендовал его использовать. В зависимости от ваших целей, я бы выбрал один из двух вариантов.
1. Если нужно просто запустить выполнение скрипта в отдельном, то использовать стандартные потоки из `std`
[code]

2. Если же внутри скрипта нужно использовать `effil`, то произвести е

[2019-07-24 08:02] mihacooper commented on #124
@egor230 , удалось ответить на ваш вопрос, закрываем issue?

[2019-07-24 08:56] egor230 commented on #124
Спасибо большое за Ваш ответ. Я не очень понимаю как установить библиотеку effil, попытался её собрать через Сmake, толку нет. Такая же ситуация была с библиотекой lanes http://www.cyberforum.ru/lua/thread2483405.html , понимаете, мне очень нужна многопоточность в моём проекте, lua плагин для gta vc https://vk.com/gtabuilder?w=wall-56513456_513 .?. Её можно реализовать только с помощью сторонней б

[2019-07-24 15:42] mihacooper commented on #124
Могу посоветовать:
1. Посмотреть на наш конфиг сборки под винду на сервисе [appveyor](https://www.appveyor.com/). Конфиг [тут](https://github.com/effil/effil/blob/master/appveyor.yml).
2. Либо использовать [luarocks](https://luarocks.org/)

[2019-07-25 16:20] egor230 commented on #124
спасибо большое за Ваш ответ. установил luarocks. при попытки установить effil, выдает, что не может найти ее для lua 5.3.5
вот видео записал как не получается. https://www.youtube.com/watch?v=kn4ifVnyqT8&feature=youtu.be
помогите, пожалуйста.

[2019-07-26 14:19] mihacooper commented on #124
верятнее всего вы поставили luarocks для другой версии Lua. Советую так же глянуть на такой инструмент как [hererocks](https://github.com/mpeterv/hererocks). Он позволяет создавать окружение для конкретной версии lua и luarocks

[2019-07-26 14:19] #124 closed, assigned to nobody

[2019-07-27 13:56] egor230 commented on #124
спасибо большое за Ваш ответ уважаемый mihacooper. было бы здорово, если можно было бы скачать уже готовую сборку под разные версии lua.

хотя бы видео инструкция для нубов, как собрать.

[2019-08-01 14:23] mihacooper opened #127 "Binary deploy for github releases"
put build artifacts from travis and appveyor here

[2019-08-01 14:25] #127 closed, assigned to mihacooper

[2019-08-07 21:06] mihacooper commented on #97
done by PR #125

[2019-08-07 21:06] #97 closed, assigned to nobody

[2019-08-12 11:45] egor230 opened #128 "при попытке собрать проект в MVS 2019 выходит ошибка Ошибка C1083"
Здравствуйте, пытаюсь собрать effil через cmake, скачал репозиторий, скопировал sol в папку libs, указал папку с lua 5.3.5. при попытке собрать проект в MVS 2019 выходит ошибка
Ошибка	C1083	 Не удается открыть файл включение: sol.hpp: No such file or directory,	effil	C:\projects\effil\src\cpp\utils.h

Подскажите, пожалуйста,  как решить эту проблему?

Когда проект соберется он будет effil.dll или

[2019-08-12 11:53] mihacooper commented on #128
в ошибке сказано, что вам не хватает заголовочного файла от `sol2`. Он подключен к нашему проекту как [git submodule](https://git-scm.com/book/ru/v1/%D0%98%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-Git-%D0%9F%D0%BE%D0%B4%D0%BC%D0%BE%D0%B4%D1%83%D0%BB%D0%B8). По всей видимости вы его не выкачали.

надо либо при клонировании указывать `git clone ... --recurse-submodules`, либо в уж

[2019-08-12 11:54] mihacooper commented on #128
результат сборки - `effil.dll`

[2019-08-12 12:56] egor230 commented on #128
Спасибо Вам огромное, уважаемый mihacooper
Наконец-то собрал!!!!!!!!!! Очень рад, столько мучался…

Использую среду разработки IntelliJ IDEA Community Edition 2019.1.3, скинул в C:\Program Files\lua effil.dll. запустил lua скрипт, ошибка. Подскажите, пожалуйста, как исправить?
![Screenshot](https://user-images.githubusercontent.com/32921166/62866561-7a524980-bd2a-11e9-8255-55784ea1431b.png)

[2019-08-12 13:12] mihacooper commented on #128
почитайте как работает `package.path` и `package.cpath` в lua. Скорей всего у вас путаница в путях.

[2019-08-12 14:03] egor230 commented on #128
Спасибо за совет. В мой компьютер, свойства, дополнительные параметры системы, переменные среды, добавил новую переменную  LUA_CPATH значение задал c:\Program Files\lua\?.dll все равно не видит require не видит модул 'effil', помогите, пожалуйста, советом.

[2019-08-12 14:03] #128 closed, assigned to nobody

[2019-09-03 20:52] egor230 opened #130 "очень нужно в файле запустить функцию в отдельной сопрограмме"
спасибо большое за Вашу чудесную библиотеку. она здорово облегчает жизнь. смог ее собрать и запустить.
немного пришлось помучатся из-за своей неопытность.
Скажите, пожалуйста, есть lua плагин gta vice city. каждый lua файл имеет свое состояние. иногда очень нужно в файле запустить функцию в отдельной сопрограмме. например, жив ли пед, то есть поочередное приостановление и возобновление.

вот на эт

[2019-12-23 12:37] mihacooper commented on #130
Извиняемся, что долго не отвечали. Думаю, что вопрос уже не актуален.

[2019-12-23 12:37] #130 closed, assigned to nobody

[2020-02-09 12:37] Chipsterjulien opened #131 "Sleep a thread"
Hello
I try to sleep a thread with socket.sleep or socket.select(nil, nil, x) but, the only way I found is to use os.execute("sleep x") where x is a number as follow:
[code]
So, the code is bad. Is there another solution ?
Thank for your help and nice job for effil

Best regards
Julien

[2020-02-09 21:28] mihacooper commented on #131
Hello
If I understand you right you need a sleep function.
And we have one. Read about it here:
https://github.com/effil/effil/blob/master/README.md#effilsleeptime-metric

Correct me if I don't understand you and please close the issue if problem solved.

[2020-02-10 10:30] adrfantini opened #132 "Method to turn an effil.table into a normal table"
Hi and thanks for `effil`!

Sometimes it's be nice to be able to turn an `effil.table` back into a normal `table`, for example when using external libraries that check for the `type()` of an input.

One can do this with a simple loop, bu it's a bit tedious (especially for nested tables). Can you provide a function to do this?

(if it's not there already and I missed it!)

Thanks!

[2020-02-10 11:15] mihacooper commented on #132
Thanks for this issue. We used to think about such function a lot of times and still don't implement it.
We should finally make it =)

[2020-02-10 17:25] Chipsterjulien commented on #131
Hello
I saw it yes but here, with the same code above and I replace:
[code]
by
[code]
the program freeze once effil.sleep is met the first time

[2020-02-10 18:19] mihacooper commented on #131
Now I understand you.

Let me show you the problem. I suppose you are using current stable release from luarocks. The effil-1.0.0 does not support upvalues so it does not capture this upvalue - `local effil = require("effil")`

So when you run your code actually you got error in another thread. Try to print the result of thread:
[code]
The result will be
[code]

To solve the problem you should cho

[2020-02-11 07:54] Chipsterjulien commented on #131
Thanks for your help, it works perfectly

I have another question about userdata but I will open a new issue

[2020-02-11 07:54] #131 closed, assigned to mihacooper

[2020-02-11 08:07] Chipsterjulien opened #133 "userdata"
Hello

Is it planned to manage userdata ? I need to use socket (tls) and separate incoming data and sent data.
Unfortunately, socket return userdata and I am blocked

Best regards
Julien

[2020-02-11 13:37] mihacooper commented on #133
Hello.

The userdata management is not trivial task, cause Lua does not provide any generalizaed API for userdata. We don't know how to copy userdata from one Lua state to another in general.

So, looks like the only way is to compile Effil with luasocket (or any other module) support.
We will think about writing a documentation for that.

[2020-02-11 17:56] Chipsterjulien commented on #133
Thank you for your reply
I look forward to your doc

[2020-02-11 17:56] #133 closed, assigned to nobody

[2020-02-16 15:55] #132 closed, assigned to mihacooper

[2020-02-25 16:42] adrfantini opened #135 "How to use next() with effil?"
I have a program in which I need to set the metatable so that `pairs()` does not iterate over functions. Something like this seems to work OK with normale tables:
[code]

However when setting the metatable for an effil table (`effil.setmetatable`) I have the following error:
[code]

How can I make this work? Thanks in advance!

[2020-02-25 17:28] mihacooper commented on #135
Thanks for that question. It's our mistake that we  don't have impl for `next`.

Currently you can only use `effil.pairs` and `effil.ipairs` functions.

I will try implement `effil.next` soon.

[2020-02-26 07:50] adrfantini commented on #135
Thanks!

As for what I want to do (loop using `pairs` only over non-function items), do you know if there is any way I can do this without `effil.next`?

[2020-02-26 08:08] adrfantini opened #136 "Documentation: use HTTPS in git clone for installation"
Hi, just a heads up. The docs say to do this to install:
[code]
It should work for everyone without further configuration if you do:
[code]

[2020-02-26 08:41] mihacooper commented on #135
for right now I see the only one solution
[code]

[2020-02-26 08:44] mihacooper commented on #136
yep, you are right

[2020-02-26 08:51] mihacooper commented on #136
fixed

[2020-02-26 08:51] #136 closed, assigned to mihacooper

[2020-02-26 10:21] adrfantini opened #137 "Inheritance in effil tables"
Hi!
I'd like to use [class inheritance](https://www.lua.org/pil/16.2.html) with effil tables.
This works well:
[code]
The same version with an effil table:
[code]
Gives error:
[code]

Why? How can I fix this? Thanks in advance!

[2020-02-26 11:51] mihacooper commented on #137
Ok, that's one more issue)

For right now you can use `function` version of `__index`
[code]

[2020-02-26 11:53] adrfantini commented on #137
Right! I forgot you could do that. Thanks a lot!

[2020-02-26 12:10] mihacooper opened #138 "Support table as value of __index in metatable"
implement `__index = {}` support in effil metatable.
Related: #137

[2020-02-26 12:11] #137 closed, assigned to nobody

[2020-02-26 15:56] adrfantini opened #139 "Nested inner/outer classes with effil"
I am learning to create Lua5.3 classes, and am trying to obtain a structure like this: `outerObject = {innerObject1, innerObject2, ...}`, where both `outerObject` and `innerObject` have their own methods. Both should only contain objects, the methods should be defined in their respective class and inherited via the standard `__index` approach.

The following works fine without Effil:
[code]

The s

[2020-02-26 18:54] mihacooper opened #140 "Call __index only if value is not presented in table"
Like in Lua we should call `__index` only if key is not presented in main table

[2020-02-26 19:03] mihacooper opened #141 "Serialize table's metatable as well"
First place:
[code]

Second place:
[code]

[2020-02-26 19:08] mihacooper commented on #139
Thanks again, I have made two issues for us: #140, #141. Read the issues descriptions to understand the porblems.

For your problem I can advice:
[code]

[2020-02-26 20:15] adrfantini commented on #139
A big thank you for this. It's really awesome to have a developer reply so fast and so precisely to every issue and doubt. This is what keeps a language's environment alive. Feel free to close this if you prefer to track in #140 and #141 only.

[2020-02-26 22:05] #139 closed, assigned to nobody

[2020-02-27 10:37] adrfantini commented on #139
With the changes you proposed things seem to work better, but I'm still getting:
[code]

The inner methods appear to not get inherited. Any idea why?

EDIT: this appears to work fine:
[code]

[2020-02-29 08:19] #135 closed, assigned to mihacooper

[2020-03-03 16:34] #138 closed, assigned to nobody

[2020-03-03 16:34] #140 closed, assigned to nobody

[2020-03-04 07:07] #141 closed, assigned to nobody

[2020-04-20 13:33] devildevilson commented on #98
Here my thoughts about a thread pool implementation. The library lacks two things: thread method, that returns thread id (like `thread:get_id()`), and the atomic variables, which is critical to the performance wise applications, imo. Is there any chance to see them in the future?
(lua 5.3)
https://gist.github.com/devildevilson/bdce61d7ec66e590a31b23c2bf1b6e1c

[2020-04-20 13:46] mihacooper opened #146 "Add thread:id() method"
add method to get thread's id, think about semantic

[2020-04-20 14:18] mihacooper opened #147 "Atomic variable for numbers and bools"
Make research about it performance and compare with regular variables + mutexes

[2020-04-20 14:18] mihacooper commented on #98
Thanks for this work. I will read the poll implementation and give you feedback later.
About your question:
- Your notice about `thread:get_id()` is right. We should add it. I have created an issue  #146.
- Atomic variables are much more complicated. I will think about it. But btw I'm not sure about significant performance increase cause we'll have to turn atomic's into userdata with metatable and

[2020-04-21 09:13] devildevilson opened #148 "Change thread status while waiting data from effil.channel"
It would be useful to change thread status when trying to `channel:pop()` empty channel. Smth like:
[code]

[2020-04-21 10:03] mihacooper commented on #148
Hmm, the usability of this feature is not clear for me. Can you provide some real life example of usage?

[2020-04-21 11:06] devildevilson commented on #148
I cannot effectively check that all of the threads have finished their work and now waiting for the new data from the channel. This can ensure the programmer that all concurrent data have the final state between nominal program steps. Example:
[code]

[2020-04-21 11:57] mihacooper commented on #148
Dedicated thread's status can't give you required guarantee. Cause right after it becomes in `waiting` status someone can put message in channel and thread will stop waiting.

So, speaking about your task - waiting until all works is done. You rather need functionality for waiting on multiple primitives. Using that you'll be able to do something like:
[code]
Where `thread1_finished` can be one of:

[2020-04-21 12:56] devildevilson commented on #148
My bad, the `consumer()` function I provide is wrong. The `channel:pop()` must be in never ending loop (see below). Thus I doubt that `effil.wait_for_all` can gave me expected behavior, cause threads never get status "completed" in this case. But the example may benefit from atomically changing status of thread, when it is waiting for the new data in channel. In this case I can simply count waitin

[2020-04-21 13:13] mihacooper commented on #148
1. I have told to use `effil.wait_for_all` for waiting on some additional primitive, not on the thread object. So, your note about `threads never get status "completed"` is not relevant.
2. Your `wait` function will not  work correct in case someone put message in channel (during `wait` execution). If it's not a problem then you can just check the size of `free_threads` queue size it gives the sam

[2020-04-23 11:39] devildevilson commented on #148
Understood. Thank you for the feedback. Looking forward to the `effil.wait_for_all`.

[2020-04-23 11:41] #148 closed, assigned to nobody

[2020-06-18 12:32] adrfantini opened #150 "Best way to export Effil itself to threads?"
If I try to do the following:
[code]

The thread crashes with `attempt to index a nil value (global 'effil')` due to the `effil.sleep` call.

This means that thread helpers cannot be used without manually passing effil explicitly:
[code]

Is this correct? What would be the best way to approach this? Explicitly pass `effil`, like I did above, or setting something in `effil.G`, or what else?

Thanks

[2020-06-18 14:06] adrfantini opened #151 "Effil threads compatibility with Lua "classes""
I'm trying to make Effil threads work with Lua objects mimicking classes.

Here is a MRE. I have a file called `timers.lua` with the following code:

[code]

This basically creates a global class `_timersContainerClass`.
Now, if I try to use it in an Effil thread:

[code]

If you run this, you'll see that the three outside `print`s work as expected, and that they return the same table as the first

[2020-06-18 14:11] adrfantini commented on #151
If instead of `_timersContainerClass` I use everywhere, including in the class definition, `effil.G._timersContainerClass`, everything seems to be working:

Class:
[code]
Code:
[code]

But this is not what I want, since I cannot use `effil.G` to export the class.
I do not want to export every class I use to every thread I defined, since there are many.

[2020-06-18 18:54] mihacooper commented on #150
Hello,  adrfantini!
Short answer: just add `local effil = require("effil")`
// Checked on lua5.3

Long answer:
Variable declared without `local` (`effil = require("effil")`) is placed in current ENV table (which is _G in your sample). So the function `check_shared_table` will capture `_G` as upvalue. But as you can read in [our documentation](https://github.com/effil/effil#functions-upvalues) we d

[2020-06-18 19:14] mihacooper commented on #151
Hello, adrfantini!

The problem caused by `_G` in your function's upvalue again.
You have declared your class global variable:
[code]
And after that references it in function:
[code]
So, `_timersContainerClass:getParent` has `_G` in it's upvalues. But it does not work in Lua, [docs here](https://github.com/effil/effil#functions-upvalues).

To fix the problem you should declare it as a local variab

[2020-06-19 06:46] adrfantini commented on #150
Hello @mihacooper ,
this was _extremely_ helpful.
Thank you so much for the answer and for taking the time to explain this.
Things are really much clearer now.

[2020-06-19 07:53] adrfantini commented on #151
Once again, thank you very much for the time you've taken to dispel my doubts. It's quite clear now!

[2020-06-19 09:35] mihacooper commented on #151
Hope, problem solved, if not feel free to open another issue

[2020-06-19 09:35] #151 closed, assigned to nobody

[2020-06-22 14:29] adrfantini commented on #150
Sorry to bother you again on the same topic.

[2020-06-22 14:42] adrfantini commented on #150
Sorry to bother you again on the same topic.

The library i'm trying to write now declares `effil` as `local`, as you suggested, and this works really well if used in isolation. However, I am also loading another library which loads `effil` as global. This seems to cause some issues such as `attempt to index a nil value (upvalue 'effil')`.
Things are made even more complicated because `effil` is l

[2020-06-22 15:05] mihacooper commented on #150
That sounds strange. I can't reproduce such behaviour.
Are you sure that problem happens exactly in this code?
Can you make minimal example of code to run for me?

[2020-06-22 18:37] adrfantini commented on #150
Thank you for the reply, tomorrow I'll try to reproduce it and let you know. Thanks!

[2020-06-23 09:28] adrfantini commented on #150
The codebase is huge and I'm struggling to provide an MRE. Anyway this is a stripped downversion of the code I'm loading:

[code]

And the error is:
`timers.lua:10: attempt to index a nil value (upvalue 'effil')`

Notice that if I comment the 8th line (the useless assert) then the error becomes:
`timers.lua:10: attempt to call a table value (field 'table')`

I am really, really lost as to why comm

[2020-06-23 09:43] mihacooper commented on #150
Gosh, I still don't have any errors running these code. And code itself looks normal.

Early you mention that you use another library that loads effil as global var. Check the version of Effil which is used by this library. Maybe you use different libs in the same process (I'm just trying to guess).

[2020-06-23 09:49] adrfantini commented on #150
Thanks for the reply. I only have one Effil version installed on the test system, which is an embedded one, and I can't reproduce on my laptop either. Setting `effil` to be global works, but then I have the issues that you've seen before, and loading it as local would indeed be much better, as you highlighted.

I will continue digging and report back, thanks for your patience.

PS: note that any c

[2020-06-23 09:57] adrfantini commented on #150
I can confirm that even loading that small snippet of code above I still get the error on my test system. This is an ARM system with Lua 5.3.0. On my x86 laptop with Lua 5.3.3 this does not happen.
So it appears it could be a Lua bug in 5.3.0.

[2020-06-23 12:30] adrfantini commented on #150
One thing to note is that on the test system I'm using `effil` 1.0-0. On my laptop I tested this both with an old version (0.1-0) and with the latest (1.1-0), and it works (Lua 5.3.3)

[2020-06-23 12:45] mihacooper commented on #150
Another important note: function's upvalues are supported only in v1.1-0, so try to update the version of effil
Here release notes: https://github.com/effil/effil/releases

[2020-06-25 17:48] adrfantini commented on #150
Yeah, I think that's the issue. On this device I have 1.0.0 since we can't compile 1.1 due to GCC 4.9. Very unfortunate. Will close for the time being, and update eventually.

[2020-06-25 17:48] #150 closed, assigned to nobody

[2020-07-14 10:15] adrfantini opened #152 "effil.version is 0.1.0"
Hi, I installed `effil` using `luarocks install effil` on a new system. `luarocks` correclty installed version 1.1.0.
However:
[code]
Why?

[2020-07-14 10:29] mihacooper commented on #152
That's known bug caused by hardcoded version in sources. I'll try to automate version update taking it from git tags.

Thanks for reminding.

[2020-07-15 13:09] mihacooper commented on #152
Fixed in version 1.1.1

[2020-07-15 13:09] #152 closed, assigned to nobody

[2020-07-15 13:15] adrfantini commented on #152
Thanks! Keep up the good work!

[2020-09-19 08:43] sam01101 opened #153 "Segmentation fault when running effil.thread"
Problem: Executing the following code will cause a "Segmentation fault" error.

Expected: Code run successfully
Reuslt: A "Segmentation fault" displayed.

How to trigger the error:

- Run the following code

(I've also tested without looping, there still have a chance will trigger the error.)

Lua version:
- openresty luajit 2.1.0-beta3
- luajit 2.0
- Lua 5.1
(All are tested and reuslting the erro

[2020-09-19 10:48] mihacooper commented on #153
Great thanks for this issue!
It seems to be bug that I'm looking for a long time)
I have made a fix and I hope we'll release it soon:
https://github.com/effil/effil/issues/153

[2020-09-20 09:54] buzz3rs commented on #153
I did encounter a similar error before but it didn’t give me a “segmentation fault” and avoiding this i defined the functions in the global effil.G, worked fine for me

[2020-09-20 09:54] buzz3rs commented on #153
I did encounter a similar error before but it didn’t give me a “segmentation fault” and avoiding this i defined the functions in the global effil.G, worked fine for me

[2020-09-20 09:54] buzz3rs commented on #153
I did encounter a similar error before but it didn’t give me a “segmentation fault” and avoiding this i defined the functions in the global effil.G, worked fine for me

[2020-09-20 10:47] mihacooper commented on #153
Fixes in release v1.2-0

[2020-09-20 10:47] #153 closed

[2020-09-21 18:48] folknor opened #155 "Compilation errors when upgrading"
Hi,

Today I tried to upgrade using `luarocks install effil` from `1.1-1` to `1.2-0`, and the process produces 3 compilation errors:

[code]

Here's the entire log output

[code]

[2020-09-21 21:19] mihacooper commented on #155
Hi, that looks like something very specific for gcc-10.2. I have tried to install gcc-10 from the ubuntu repo, and it's only gcc-10.1.
[code]

And build passed fine:
[code]

Please, try to use earlier version of gcc and tell us how it passed

[2020-09-22 07:03] folknor commented on #155
Yes, 10.1.0 works for me as well :+1:

For ubuntu it looks like you need to run groovy to get 10.2. You can either use a daily image from http://cdimage.ubuntu.com/ubuntu/daily-live/current/ or set up a chroot, for example.

[2021-01-14 07:54] adrfantini commented on #152
Uhm, I installed Effil 1.2.0 from Luarocks and this bug reappeared? Maybe something weird with my system?
How can I check?

[2021-01-14 21:49] mihacooper commented on #155
Close for right now.

[2021-01-14 21:49] #155 closed, assigned to mihacooper

[2021-01-14 21:51] mihacooper commented on #152
No, seems like I forgot to update it, again.
We still didn't automate it =\

[2021-03-11 11:16] adrfantini opened #156 "Which is more efficient, channels or tables?"
I have a usecase in which I need to have a slave thread looping continuously, reading some values and calculating a result.
Occasionally, the master thread will grab this result and use for its own calculations.

What is the most efficient approach in this case? Sharing an `effil.table`, with a field storing the current value, or sharing a thread of size 1, which gets emptied (`pop`) and refilled

[2021-03-11 12:14] mihacooper commented on #156
In general channels should be more efficient than tables. Moreover, they gives you efficient waiting functionality instead of active polling of tables.
But if you need repeatedly read something in slave thread without changes than it's better to store it in table. Cause each time when you push into channel Effil will copy data and maybe serialize it if it's lua table.

[2021-03-11 12:56] adrfantini commented on #156
Thank you. In this case I would need only to exchange numerical values, so I should not need serialisation, but I do not need active waiting: the master thread should take whichever last value the slave generated.

I would think channels would be more suited for this. However, an issue pops up. if setting the channel size to 1 (as the master needs only the latest value), the slave should, at every

[2021-03-11 13:00] mihacooper commented on #156
No, you cann't overwrite values in channel, it's simple FIFO queue.
You described scenario where effil.table will suit perfectly.

[2021-03-11 13:04] adrfantini commented on #156
Thank you for the clarification.

[2021-03-11 13:04] #156 closed, assigned to nobody

[2021-03-11 13:08] adrfantini commented on #156
Oh, one more thing. In general, is it good to share a large-ish table among threads, or is it better to create a single small table just for this?

Say that I have a setup with a master and 5 slave threads, each of which reads only one value and returns only one value. Is it significantly more efficient to have 5 separate tables (each with two values: input and output), or can I define one single

[2021-03-11 13:28] mihacooper commented on #156
Separate table will be better, cause each slave thread will block table on write operation. In case it's a single table they will wait each other.

[2021-03-11 13:55] adrfantini commented on #156
Ok that was basically my question: if the whole table was blocked, or the single values inside each table. That clarifies it. Thank you again!

[2021-04-07 16:28] pocco81 opened #157 "Support for <luav5.3.6?"
Some of the libraries I use require luav5.4.0, but I also need effil. Will there ever be support for luav5.4.0?

[2021-06-24 02:03] ylme opened #158 "Shouldn't link to LUA_LIBRARY on Linux"
The line should be deleted on Linux.

https://github.com/effil/effil/blob/master/CMakeLists.txt#L44

On linux, the basic use is that the host execute file statically link to static library liblua.a and export all its symbols, like this in the Lua Makefile.

[code]

Then the C extended libray .so file should not link with liblua.a , if does, then two lua obj code exists, which is absolutely wrong.

[2021-06-27 22:03] #157 closed, assigned to nobody

[2021-10-08 15:52] sidyhe opened #159 "add effil.is_canceled() method"
please add this future to help thread to detect the state for clean logic.
eg.
[code]

[2021-10-08 15:55] sidyhe commented on #159
or set cencel callback
eg.
[code]

[2021-11-18 11:55] adrfantini opened #160 "Issue assigning effil threads to effil table classes: Unable to dump Lua function"
It appears that it is not possible to assign Effil threads to objects that are Effil tables... or at least, I can't figure it out.

Here is a MRE:
[code]

The error is:
[code]

Clearly there some issue in `__newindex`, but I can't figure out what is wrong.
Maybe my `__index` metamethod is at fault here?

---

However, this, taken from the documentation and slightly modified, works:
[code]

[2021-11-22 09:54] adrfantini commented on #160
Some more testing, I got it to work.
It appears the problem was twofold:
1. I think cannot assign a `runner` to a serialised effil.table. Only the `thread` object can be assigned, not the `runner`.
1. For some reason, using `print` as test function does not work. Redefining print with your custom local function, which gets exported, does.

MRE:
[code]

[2021-11-30 10:50] adrfantini opened #161 "Why are some local functions dumpable to effil.table, and some not? How to tell one from the other?"
Probably related with #160.

I do not understand why some functions seem work in an `effil.table`, and some don't. It makes using `effil` extremely hard, because I cannot plan in advance the code architecture as I am lacking this important detail.

See this example below:
[code]
Output:
[code]

However, if `gettime` (or `socket`) is defined _globally_, then... it works! However, defining functions

[2021-11-30 13:43] mihacooper commented on #161
Hi, the problem is that effil is not able to transmit C-functions between Lua states. So, you just can't put C-function in any effil object.
The only solution is to include required modules in place where you want to use it. Like that:
[code]
Thanks for feedback we need to describe this in documentation better

[2021-11-30 13:47] adrfantini commented on #161
Thank you for your quick reply. That helps.
I'll try to see how to approach this in an efficient way.
Feel free to close or to keep this open to update the doc.

[2021-11-30 14:17] mihacooper commented on #160
Hi, thanks for feedback. You're right there are 2 errors:
 1. Thread runner is not serializable and this is a bug.
 2. print is not serializable cause it's C-function and it's not possible by design (lua design btw)

[2021-11-30 14:41] adrfantini commented on #160
I see, thank you.
But then why does `local myprint = function(...) print(...) end` work? Is it enough to wrap each C function in a lua wrapper to be able to pass them through? (or maybe I just mistyped whn I tested this and it should not work?)

[2021-12-23 12:03] lhead opened #162 "Does effil support iOS and Android？"

[2022-01-08 14:29] kjmathue opened #163 "Sol2 version dependency"
Was giving Effil a try. Can the **Sol2** version be specified in the readme/instructions? **Effil** [v1.2-0](https://github.com/effil/effil/releases/tag/v1.2-0) of 20 Sep 2020 doesn't seem to compile with the latest Sol2 [v3.2.2](https://github.com/ThePhD/sol2/releases/tag/v3.2.2) of 04 Oct 2020.

Error:
[code]

Looks like '**struct pusher**' needs to change to '**struct unqualified_pusher**' etc.

[2022-01-20 17:39] mihacooper commented on #162
I think yes, cause effil should support any platform where you can compile c++14 with multithreading support (e.g. lib pthread)
but we don't have special build for that

[2022-01-20 17:39] #162 closed, assigned to nobody

[2022-01-20 17:45] mihacooper commented on #163
Of course Effil depends on particular version of Sol 2. It's not easy just to recompile Effil with newer Sol cause Sol has made some significant changes (I had tried).

The dependency  not in README but you can use git submodules to compile Effil with right version of Sol2.

[2022-01-20 17:45] #163 closed, assigned to nobody

[2022-02-16 11:04] adrfantini opened #169 "Effil fails serialisation of functions with custom environment"
I need to load text functions while restricting their working environment.
`load` is perfect for this, but apparently functions loaded this way are not dumpable by `effil`.

[code]

The following, without the custom environment `env`, works:
[code]

Is there any way to make this work using `effil`?

[2022-02-16 11:30] adrfantini commented on #169
A possible solution would be to run an inner generator when the function is run the first time, and store the output in a global variable. Something like this:
[code]

In this way, the environment of the function is global (`_G`, not serialised, as per documentation), and it only gets restricted on execution.

However, this is really, really horrible and I would really like to avoid it.

[2022-02-16 12:03] adrfantini commented on #169
A cleaner version of the previous approach:
[code]

This looks still horrible to me and I would love to know about alternatives.

[2022-02-17 14:24] mihacooper commented on #169
Hi, the problem did not caused by custom env. The problem is that tonumber is a C-function and C-function is not serializible.
This code works:
[code]

[2022-02-17 15:10] adrfantini commented on #169
Thank you.
So you confirm there is no way to work around this limitation, other than the hack I posted above?
Maybe Effil could avoid seralising global built-in Lua functions?

[2022-02-17 15:29] mihacooper commented on #169
It looks possible to impl. I'll try to improve our library

[2022-02-23 13:39] adrfantini opened #171 "Concurrency issues with parallel threads: unavoidable?"
I'm running into some concurrency issues using Effil.

Such issues are well described by a simple example.

In the example, two parallel threads act on the same effil table, each incrementing two counters:
1. Thread 1 increments `c1` and the common counter `ccommon`
2. Thread 2 increments `c2` and the common counter `ccommon`

Each thread runs for 1000 loops, so at the end `c1=1000`, `c2=1000` and

[2022-02-24 08:41] mihacooper commented on #171
Hi, it's a race condition and to avoid that you have to make synchronizations.
Normal synchronization primitives will be added soon here: https://github.com/effil/effil/pull/123

Right now you can impl it by yourself using channels with limited capacity, e.g.:
[code]

[2022-02-24 13:33] adrfantini commented on #171
Thank you for the reply, I see what you mean. Looking forward to the MR with mutex functionality.

[2022-02-27 13:17] mihacooper commented on #158
fixed https://github.com/effil/effil/pull/167

[2022-02-27 13:17] #158 closed, assigned to nobody

[2022-04-17 16:46] #39 closed, assigned to nobody

[2022-08-07 07:21] 625781186 opened #173 "[Request] Add some callback."
Add some callback such as `started_callback`, `finished_callback` and so on.

[2022-08-07 09:01] mihacooper commented on #173
Hi @625781186, can you provide more information/motivation and some examples of code?

[2022-08-07 09:17] 625781186 commented on #173
[code]

[2022-08-07 09:19] 625781186 commented on #173
I wan to like this :

[code]

[2022-08-07 09:36] 625781186 commented on #173
Or like this , passing data between two threads use `eventemit` :
[code]

[2022-08-07 10:04] 625781186 commented on #173
@mihacooper

[2022-08-08 12:22] 625781186 commented on #173
Hi , Can this be achieved? @mihacooper

[2022-08-09 01:12] 625781186 commented on #173
Hi , Can this be achieved? @mihacooper

[2022-08-10 01:38] 625781186 commented on #173
Hi, I have provided sample code,
you can see if this is possible.
Can you take the time to reply me?
@mihacooper

[2022-08-10 11:53] mihacooper commented on #173
If I understand you right, then these functionalities don't actually need to be implemented on effil level. You can implement it using already existing features.

callbacks can be implemented like that:
[code]
Output:
[code]

And `EventEmit` can be implemented with `effil.channel`.

Maybe later we'll implement it in effil, but not right now.

[2022-08-10 12:08] 625781186 commented on #173
[code]

That's not right .
In this situation, `before_thread_start` and `after_thread_finish` run in effil thread env ,

[code]

I need they run in main thread .
@mihacooper

[2022-08-18 19:48] mihacooper commented on #173
@625781186
I got you. It becomes more complicated. If you have only one  receive thread (only main thread) then you can use effil.channels. If you want more than one receiver then you have to write some tricky dispatcher

[2022-08-19 00:35] 625781186 commented on #173
Yes,   currently I write a simple dispatcher with timer .
https://github.com/effil/effil/issues/173#issuecomment-1207365437

If the official can provide `Eventemit`, it will become more elegant .

[2022-08-29 19:12] ghost opened #174 "Trying to build for Windows produces an error, any idea what it is?"
Hi! I want to use this with LuaJIT, and I don't have luarocks installed on my Windows machine, and my "installation" of LuaJIT consisted in creating a folder for the executable and adding it to PATH.

Anyway, when attempting to build effil under these conditions, I get the following message:

Any idea what it is?

--------------------------------------------

Edit: It seems the instruction find_pa

[2022-09-01 13:33] mihacooper commented on #174
Hello, @kunrii.

Here you can find prebuilt binaries: https://github.com/effil/effil/releases
And here you can find how do we build it for Windows platform: https://github.com/effil/effil/blob/master/.github/workflows/win_ci.yml

[2022-09-01 13:33] #174 closed, assigned to nobody

[2022-09-12 23:50] ghost opened #175 "."

[2022-11-15 21:50] mihacooper commented on #169
Implemented

[2022-11-15 21:50] #169 closed, assigned to nobody

[2022-11-15 21:50] mihacooper commented on #161
Implemented

[2022-11-15 21:50] #161 closed, assigned to nobody

[2022-11-15 21:56] mihacooper commented on #160
implemented

[2022-11-15 21:56] #160 closed, assigned to nobody